---
import MainPageContent from "./MainPageContent.astro";
---

<div class="container">
  <MainPageContent />
</div>

<style lang="scss">
  .container {
    display: block;
    position: relative;
    width: 100%;
    min-height: 590px;
    overflow: hidden;
  }
</style>
