---
import { db, Text, eq } from "astro:db";
import { getCurrLang } from "src/helpers";
import { Lang } from "src/types";

const mainText = (
  await db.selectDistinct().from(Text).where(eq(Text.name, "main"))
)[0];

const content = {
  [Lang.en]: mainText.content,
  [Lang.ru]: mainText.contentRu,
  [Lang.es]: mainText.contentEs,
}[getCurrLang(Astro)];
---

<div class="wrapper">
  <div class="left">
    <!-- <svg
      preserveAspectRatio="xMidYMid meet"
      version="1.0"
      viewBox="191.9 518.6 2916.0 961.5"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      zoomAndPan="magnify"
      ><g id="change1_1">
        <path
          d="M1378.47,1480c-65.15,0-101.49-20-131-41.64-31.16-22.85-55.71-48.61-71-74.51a170.52,170.52,0,0,1-10.18-20.26c-11-3-20.38-12.41-24.26-16.79-13.86-15.6-17.33-32.85-11.6-57.69,3.71-16.08,11.48-35.69,19.71-56.45,5.21-13.15,10.59-26.74,14.7-39a231.25,231.25,0,0,0,9.11-35.25c-39.16-9.37-83.4-22.71-129.11-36.49-33-10-67.19-20.26-101.62-29.78-105.72-29.23-231.42-56.57-362.17-37.7-124.86,18-257.1,78.41-385,136.83l-4.16-9.1c128.53-58.71,261.44-119.42,387.71-137.63,132.58-19.12,259.55,8.46,366.26,38,34.54,9.55,68.76,19.87,101.84,29.84,45.21,13.63,89,26.83,127.58,36.12a118.07,118.07,0,0,0-.66-31,205,205,0,0,0-5.45-22.78c-4-14.2-8-28.88-6.67-45.63,2.12-25.95,17.18-55.69,33.12-87.17l.47-.94c16.2-32,33-65.07,37.24-108.36,3-30.5-.3-66.45-3.24-98.16-1.33-14.41-2.59-28-3.21-40.34-1.67-32.9,1.86-51,11.77-60.37,5.87-5.56,13.92-7.87,23.92-6.84,25.38,2.62,67.85,27.25,112.8,53.33,5.56,3.22,11.16,6.47,16.76,9.69,47.89,27.59,98.94,55.62,150.06,68.71,50.34,12.89,97.76,10.68,118-5.5,18.38-14.71,15.64-44.57-7-76.08-22.82-31.78-59.55-56.65-72.78-49.26-8.07,4.5-10.52,23.64-12.89,42.15-1.88,14.68-3.83,29.87-8.63,42.23-8.66,22.25-25.43,32.87-37.16,35.21-7.8,1.55-14.72-.12-19-4.59-7.59-7.88-6-23-4.06-40.56,1-9,2-18.31,1.82-27.21-.18-11.88-2.44-23.26-4.84-35.31-2.74-13.78-5.57-28-6-45.35-.45-18,1.47-50.58,19.32-66.11,8.09-7,18.31-9.61,30.36-7.62,27.09,4.46,66.54,32.41,112.23,64.77,18,12.76,36.65,26,55.1,38.05,18.73,12.28,37,23.27,56.42,34.92,46.08,27.68,93.72,56.3,152.12,105.3,13.62,11.43,27.66,23.83,42.52,37,73.08,64.54,164,144.86,274.29,164.79,77.94,14.09,165.21-1,257.6-16.92,62.86-10.85,127.85-22.07,190.13-23.4,151.91-3.24,292.34,52.59,428.12,106.59l-3.68,9.3h0c-134.86-53.63-274.33-109.1-424.22-105.88-61.53,1.31-126.15,12.46-188.64,23.25-67,11.57-131.36,22.67-191.83,22.67a388.55,388.55,0,0,1-69.25-5.76c-113-20.42-205.12-101.77-279.13-167.13-14.82-13.09-28.81-25.44-42.33-36.79-57.79-48.49-105.09-76.91-150.84-104.39-19.47-11.7-37.86-22.74-56.75-35.12-18.61-12.2-37.31-25.45-55.4-38.26-42.82-30.33-83.26-59-108.08-63.06-9.1-1.5-16.35.23-22.17,5.29-15.31,13.33-16.21,45.22-15.88,58.32.42,16.47,3.17,30.29,5.83,43.65,2.49,12.51,4.83,24.32,5,37.1.16,9.51-.88,19.13-1.88,28.44-1.49,13.78-3,28,1.33,32.56,1.88,2,5.46,2.58,9.84,1.71,10-2,23.06-11.74,29.79-29,4.36-11.22,6.23-25.78,8-39.87,2.93-22.89,5.47-42.65,17.94-49.61,22.21-12.4,64.82,23,85.77,52.16,26,36.19,28,71.41,5.1,89.72s-72.63,21.22-126.7,7.38c-52.34-13.4-106.2-43-152.57-69.73q-8.42-4.85-16.79-9.71c-44-25.53-85.56-49.64-108.81-52-7.06-.73-12.3.63-16,4.15-9.59,9.09-9.67,32.89-8.68,52.6.62,12.11,1.87,25.62,3.19,39.93,3,32.16,6.35,68.61,3.23,100.06-4.47,45.16-22.42,80.62-38.26,111.9l-.48.94c-14.8,29.23-30.11,59.47-32.08,83.47-1.22,15,2.45,28.16,6.35,42.12a218.1,218.1,0,0,1,5.68,23.89,128.44,128.44,0,0,1,.6,34.85c24.17,5.51,46.09,9.3,64.79,10.45,16.66,1,30.9,0,43.24-2.44-.65-1.26-1.25-2.53-1.83-3.82-10.63-23.91-9-52.13-3.87-70.57,6.06-21.93,18-33.58,39.85-38.94,20.28-5,56.68-5.39,69.45,6.88,14.29,13.75-2.1,37.28-21.67,62.23-15.44,19.68-34.2,40.07-65.92,50.32,11.61,13.69,33.26,26.12,79,38.77,12.94,3.57,27.81,7.17,43.56,11,58.41,14.13,131.1,31.71,170.33,64.45,23,19.18,35.72,44.77,35.88,72.07.18,30.48-14.67,60-41.81,83.26-23.43,20-58.44,37-101.24,48.91-36.42,10.18-77.39,16.26-112.4,16.68Zm-201.07-136a159.56,159.56,0,0,0,7.68,14.72c14.59,24.74,38.19,49.47,68.27,71.53,28.74,21.07,64.26,40.44,129,39.67,67.24-.82,160-22.79,207.27-63.19,24.87-21.26,38.47-48.12,38.31-75.6-.14-24.3-11.61-47.19-32.29-64.46-37.43-31.24-108.87-48.52-166.27-62.4-15.83-3.83-30.78-7.44-43.88-11.06-51.69-14.29-74.67-28.92-86.82-45.52-14,3.22-30.21,4.61-49.37,3.43s-41.23-5-65.58-10.5a242.16,242.16,0,0,1-9.39,36.15c-4.19,12.53-9.63,26.25-14.88,39.52-7.73,19.5-15.73,39.67-19.27,55-6.16,26.72.84,39.25,9.33,48.8a56.62,56.62,0,0,0,11.88,10.29c-4.74-14.51-7.2-29-6.93-41.81.42-20.84,8.11-36,20.07-39.57a17.86,17.86,0,0,1,15,2.32c6.93,4.5,11.58,13.35,13.09,24.94,2.64,20.29-3.48,51.4-15.65,62.67A20.31,20.31,0,0,1,1177.4,1344.07Zm2.11-85.72a7.55,7.55,0,0,0-2.14.32c-6,1.78-12.56,12-12.93,30.2-.3,13.85,2.92,29.88,9,45.67a10.16,10.16,0,0,0,6.79-2.86c9.4-8.71,14.74-37,12.52-54-1.11-8.5-4.25-15-8.61-17.84A8.41,8.41,0,0,0,1179.51,1258.35Zm177.11-226.25a116.21,116.21,0,0,0-27,3.05c-18.36,4.5-27.49,13.44-32.59,31.89-4.64,16.77-6.19,42.36,3.37,63.85.82,1.83,1.71,3.63,2.72,5.42,30.78-9,48.57-28.23,64-47.93,16.39-20.9,30.48-41.28,22.61-48.85C1384.82,1034.75,1371.41,1032.1,1356.62,1032.1Z"
        >
        </path>
      </g>
    </svg> -->
    <h1>GЯAMA SPANISH</h1>
  </div>

  <section>
    <img src="/assets/sp-house.avif" />
    <p class="mainText">
      {content}
    </p>
    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium iste
      ullam minima eum earum, in esse, sit quia, natus quos alias deserunt.
      Veniam nostrum dolor velit! Consequuntur non quidem rem culpa, nulla
      labore eaque exercitationem quis nam ducimus modi in architecto,
      distinctio, iusto blanditiis perferendis? Aspernatur cupiditate nam illum
      ipsum dolor sit amet consectetur adipisicing elit. Praesentium iste ullam
      minima eum earum, in esse, sit quia, natus quos alias deserunt. iusto
      blanditiis perferendis? Aspernatur cupiditate nam illum accusamus?
    </span>
  </section>
</div>

<style lang="scss">
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 29rem;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 50vw;
  }

  // svg {
  //   position: absolute;
  //   width: 1790px;
  //   height: 50%;
  //   fill: var(--primary);
  //   scale: 1.5;
  //   top: -45px;
  //   opacity: 0.89;
  //   z-index: 0;
  //   @media (max-width: 700px) {
  //     scale: 1;
  //   }
  // }

  h1 {
    width: 100%;
    padding-top: 5rem;
    text-align: center;
    font-size: 9rem;
    background-image: url("/assets/sp-flag.avif");
    background-repeat: repeat;
    background-size: 39%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    position: relative;
    max-width: 1020px;
    @media (max-width: 767px) {
      font-size: 7rem;
    }
    @media (max-width: 490px) {
      font-size: 3.5rem;
    }
  }

  .mainText {
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    @media (max-width: 900px) {
      font-size: 3.5rem;
    }
    @media (max-width: 700px) {
      font-size: 2.3rem;
    }
    @media (max-width: 340px) {
      font-size: 1.9rem;
    }
    position: relative;
    z-index: 1;
  }
  span {
    font-size: 1.2rem;
    padding: 1rem;
    position: relative;
    z-index: 1;
  }

  section {
    position: relative;
    color: var(--complimentary2);

    img {
      position: absolute;
      z-index: 0;
      object-fit: cover;
      width: 1200px;
      height: 1200px;
      opacity: 0.35;
      top: -10rem;
      left: -1rem;
    }
  }
</style>
