---
import { db, Text, eq } from "astro:db";
import { getCurrLang } from "src/helpers";
import { Lang } from "src/types";

const mainText = (
  await db.selectDistinct().from(Text).where(eq(Text.name, "main"))
)[0];

const content = {
  [Lang.en]: mainText.content,
  [Lang.ru]: mainText.contentRu,
  [Lang.es]: mainText.contentEs,
}[getCurrLang(Astro)];
---

<div class="wrapper">
  <div class="left">
    <h1>GЯAMA SPANISH</h1>
  </div>

  <section>
    <img src="/assets/sp-house.avif" />
    <p class="mainText">
      {content}
    </p>
    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium iste
      ullam minima eum earum, in esse, sit quia, natus quos alias deserunt.
      Veniam nostrum dolor velit! Consequuntur non quidem rem culpa, nulla
      labore eaque exercitationem quis nam ducimus modi in architecto,
      distinctio, iusto blanditiis perferendis? Aspernatur cupiditate nam illum
      ipsum dolor sit amet consectetur adipisicing elit. Praesentium iste ullam
      minima eum earum, in esse, sit quia, natus quos alias deserunt. iusto
      blanditiis perferendis? Aspernatur cupiditate nam illum accusamus?
    </span>
  </section>
</div>

<style lang="scss">
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 29rem;
    @media (max-width: 1150px) {
      flex-direction: column;
    }
  }

  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 50vw;
  }

  h1 {
    width: 100%;
    padding-top: 5rem;
    text-align: center;
    font-size: 9rem;
    background-image: url("/assets/sp-flag.avif");
    background-repeat: repeat;
    background-size: 39%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    position: relative;
    max-width: 1020px;
    filter: brightness(0.8);
    @media (max-width: 767px) {
      font-size: 7rem;
    }
    @media (max-width: 490px) {
      font-size: 3.5rem;
    }
  }

  .mainText {
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    @media (max-width: 900px) {
      font-size: 3.5rem;
    }
    @media (max-width: 700px) {
      font-size: 2.3rem;
    }
    @media (max-width: 340px) {
      font-size: 1.9rem;
    }
    position: relative;
    z-index: 1;
  }
  span {
    font-size: 1.2rem;
    padding: 1rem;
    position: relative;
    z-index: 1;
  }

  section {
    position: relative;
    color: white;
    background: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 4%,
      rgba(0, 0, 0, 0.9276304271708683) 69%,
      rgba(255, 255, 255, 1) 96%
    );
    padding: 1rem;
    padding-bottom: 10vh;

    img {
      position: absolute;
      z-index: 0;
      object-fit: cover;
      width: 55vw;
      height: 1200px;
      opacity: 0.35;
      top: -10rem;
      left: 0;
      @media (max-width: 1150px) {
        width: 1100px;
      }
    }
  }
</style>
