---
import MainPageContent from "./MainPageContent.astro";
import { db } from "astro:db";
import { Text } from "astro:db";
import { eq } from "astro:db";
import { getCurrLang } from "src/helpers";
import { Lang } from "src/types";
import Bottom from "./Bottom.astro";

const mainText = (
  await db
    .selectDistinct()
    .from(Text)
    .where(
      eq(Text.name, "main")
    )
)[0];

const content = {
  [Lang.en]: mainText.content,
  [Lang.ru]: mainText.contentRu,
  [Lang.es]: mainText.contentEs,
}[getCurrLang(Astro)]

---

<div class="container">
  <MainPageContent />

  <p class="content">
    {content}
  </p>

  <Bottom />

</div>

<style lang="scss">
  .container {
    display: block;
    position: relative;
    width: 100%;
    min-height: 590px;
    overflow: hidden;
  }

  .content {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
</style>
