---
import MainPageContent from "./MainPageContent.astro";
import Services from "./Services.astro";
import Reviews from "./Reviews.astro";

---

<div class="container">
  <MainPageContent />
  
  <Services />
  
  <Reviews /> 
</div>

<style lang="scss">
  .container {
    display: block;
    position: relative;
    width: 100%;
    min-height: 590px;
    overflow: hidden;
    padding-top: 5rem;
  }
</style>
