---
import type { Lang } from "src/types";
import ReviewsList from "./ReviewsList.astro";

const title = {
  en: "Reviews",
  ru: "Отзывы",
  es: "Opiniones",
}[Astro.currentLocale as Lang];
---

<div class="container">
  <h1>{title}</h1>
  <ul class="reviews">
    <ReviewsList />
  </ul>
</div>

<style lang="scss">
  .container {
    padding: 1rem;

    h1 {
      margin-bottom: 2.5rem;
    }
  }
  .reviews {
    overflow-x: scroll;
    display: flex;
    gap: 2rem;
    margin-bottom: 9rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 10rem;
    &::-webkit-scrollbar {
      display: none;
    }
  }
</style>
