---
import { Image } from "astro:assets";

interface Props {
  imgSrc: string;
  text: string;
}

const { imgSrc, text } = Astro.props;
---

<section>
  <Image width={200} height={200} alt="section img" src={imgSrc} />
  <p>{text}</p>
</section>

<style lang="scss">
  section {
    gap: 1.2rem;
    padding: 1rem;
    max-width: 500px;
    min-height: 200px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    background: #caafaf25;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
      transform: translateY(-0.07rem);
    }

    img {
      border-radius: 1rem;
    }

    @media (max-width: 347px) {
      width: 300px;
      img {
        width: 125px;
        height: 125px;
      }
      p {
        font-size: 0.7rem;
      }
    }
  }
</style>
