---
import { Image } from "astro:assets";

interface Props {
  imgSrc: string;
  text: string;
}

const { imgSrc, text } = Astro.props;
---

<a href=`/${Astro.currentLocale || 'en'}/courses/2`>
  <section>
    <Image width={200} height={200} alt="section img" src={imgSrc} />
    <div>
      <p>{text}</p>
      <button>participate</button>
    </div>
  </section>
</a>

<style lang="scss">
  a {
    text-decoration: none;
    color: inherit;
  }
  section {
    gap: 1.2rem;
    padding: 1rem;
    max-width: 500px;
    min-height: 200px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    // background: #caafaf25;
    // box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
      transform: translateY(-0.05rem);
    }

    @media (max-width: 500px) {
      scale: 0.8;
    }
    @media (max-width: 330px) {
      scale: 0.7;
    }

    img {
      border-radius: 1rem;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    button {
      // background-color: var(--accent2);
      padding: 0.5rem;
      border-radius: 0.2rem;
      color: var(--complimentary2);
      border: none;
      outline: none;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
</style>
