---
import { ViewTransitions } from "astro:transitions";
import Header from "./Header.astro";

const curr = Astro.url.pathname.split("/");
const currLang = curr.includes("es") ? "es" : curr.includes("ru") ? "ru" : "en";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>grama spanish</title>
  </head>
  <body>
    <Header currLang={currLang} />
    <div class="content">
      <ViewTransitions />
      <slot />
    </div>
  </body>

  <style>
    .content {
      padding: 1rem;
      width: 100%;
      height: 100%;
    }
  </style>

  <style is:global>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }
    html {
      height: 100%;
    }

    :root {
      --body-bg: #7d1c15f1;
      --header-bg: #a64b44d8;
      --body-bg2: #f0e3d0;
      --primary-dark: #090909;
      --yellow-color: #ffc330;
      --orange-color: #ff6300;
      --lightorange-color: #ff9900;
      --white: #ffffff;
      --font-color: #d7d7d7de;
      --black: #090909;
      --light-purple: #ccd3ff;
    }

    body {
      height: 100%;
      background-color: var(--body-bg);
      color: var(--font-color);
    }
  </style>
</html>
