---
import Layout from "../components/Layout/Layout.astro";
---

<Layout>
  <h1>About</h1>

  <br />

  <section>
    <h3>Achieve your goals</h3>

    <ul>
      <li>Passing a DELE exam at any level.</li>
      <li>Obtaining Spanish nationality.</li>
      <li>Enhancing your Erasmus experience in Spain.</li>
      <li>Improving your experience as an au pair.</li>
      <li>Regularly practicing Spanish to maintain your level.</li>
      <li>Communicating with someone important to you.</li>
      <li>Visiting Spain or spending your holidays in Spain.</li>
    </ul>
  </section>
</Layout>

<style lang="scss">
  h1 {
    margin-bottom: 2rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  p {
    max-width: 70rem;
    margin-bottom: 1rem;
  }

  ul {
    padding: 0.5rem;
  }
</style>
