---
import Layout from "../../components/Layout/Layout.astro";
---

<Layout>
  <h1>О нас</h1>

  <p>
    Привет, мы Grama Spanish.
    <br />
    Школа испанского языка с крепким образованием и опытом в преподавании языка.
    Нам доводилось работать с учениками всех возрастов и происхождений
  </p>

  <p>
    Обладая более чем семилетним опытом преподавания испанского языка как очно
    так и онлайн, мы уверены, что сможем помочь вам достичь ваших лингвистических
    и культурных целей.
  </p>

  <br />

  <section>
    <h3>Достигните ваших целей</h3>

    <ul>
      <li>Сдача экзамена DELE на любом уровне.</li>
      <li>Получение испанского гражданства.</li>
      <li>Улучшение вашего опыта обучения по программе Эразмус в Испании.</li>
      <li>Повышение вашего опыта работы в качестве няни.</li>
      <li>Регулярная практика испанского для поддержания вашего уровня.</li>
      <li>Общение с кем-то, кто вам важен.</li>
      <li>Посещение или жизнь в Испании.</li>
    </ul>
  </section>
</Layout>

<style lang="scss">
  h1 {
    margin-bottom: 2rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  p {
    max-width: 70rem;
    margin-bottom: 1rem;
  }

  ul {
    padding: 0.5rem;
  }
</style>
