---
import Layout from "../../components/Layout/Layout.astro";
import Gato from "../../assets/Gato.astro";
---

<Layout>
  <div class="container">
    <Gato />
  </div>
</Layout>

<style lang="scss">
  .container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
</style>
