---
import Layout from "src/components/Layout/Layout.astro";
import { Loading } from "src/components/shared/Loading";
---

<Layout paddingTop="5rem">
  <div class="wrapper">
    <h1>Purchase the course</h1>

    <div id="loading">
      <Loading />
    </div>

    <div id="checkout" data-origin={Astro.url.origin}></div>
  </div>
</Layout>

<style>
  .wrapper {
    padding: 1rem;
  }
  .d-none {
    display: none;
  }
</style>

<script>
  import { loadStripe } from "@stripe/stripe-js";

  async function fetchStripeData() {
    const origin =
      //@ts-expect-error
      document.querySelector("#checkout")?.dataset?.origin ||
      window.location.origin ||
      "";

    const response = await fetch("/api/stripe", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        origin: origin,
      }),
    });

    if (!response.ok) {
      throw new Error("Failed to fetch Stripe data");
    }

    const data = await response.json();
    return data;
  }

  (async () => {
    const { secret: clientSecret, sessionKey: stripeKey } =
      await fetchStripeData();

    const stripe = await loadStripe(stripeKey);

    if (stripe) {
      const checkout = await stripe.initEmbeddedCheckout({
        fetchClientSecret: () => new Promise((res) => res(clientSecret)),
      });
      document.querySelector("#loading")?.classList.add("d-none");
      checkout.mount("#checkout");
    }
  })();
</script>
