---
import { Image } from "astro:assets";

interface Props {
  id: number;
  title: string;
  description: string;
  quantity: string;
  price: string;
}

const { title, description, quantity, price } = Astro.props;
---

<div class="container">
  <h2>{title}</h2>

  <div class="inner">
    <Image width={700} height={500} alt="section img" src="/assets/lrn.avif" />

    <div class="right">
      <p>{description}</p>

      <div>{quantity}</div>

      <span class="price">{price}</span>

      <a href=`/${Astro.currentLocale || 'en'}/checkout`>
        <button> purchase course </button>
      </a>
    </div>
  </div>
</div>

<style lang="scss">
  .container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    button {
      cursor: pointer;
    }
  }

  h2 {
    width: 100%;
  }

  .inner {
    display: flex;
    gap: 1rem;
    @media (max-width: 1150px) {
      flex-direction: column;
    }

    img {
      border-radius: 0.5rem;
      @media (max-width: 720px) {
        width: 320px;
        height: 320px;
        align-self: center;
      }
    }

    .right {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      button {
        background-color: var(--accent2);
        padding: 1rem;
        border-radius: 0.5rem;
        color: var(--complimentary2);
        border: none;
        outline: none;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        &:hover,
        &:focus {
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
          transform: translateY(-0.03rem);
        }
        max-width: 320px;
      }

      .price {
        color: var(--accent);
        font-weight: 700;
      }
    }
  }
</style>
