---
import CourseList from "src/components/Courses/CourseList.astro";
import Layout from "src/components/Layout/Layout.astro";
import { getCurrLang } from "src/helpers";

const currLang = getCurrLang(Astro);

const title = {
  en: "Courses",
  es: "Cursos",
  ru: "Курсы",
};
---

<Layout>
  <div class="container">
    <h1>{title[currLang]}</h1>

    <CourseList />
  </div>
</Layout>

<style lang="scss">
  .container {
    padding: 1rem;

    h1 {
      margin-bottom: 3rem;
    }
  }
</style>
