---
import Layout from "../../components/Layout/Layout.astro";
---

<Layout>
  <h1>Sobre nosotros</h1>

  <p>
    Hola! somos Grama Spanish
    <br />
    La escuela de español con una sólida formación y experiencia en la enseñanza
    del idioma. Hemos tenido el privilegio de trabajar con estudiantes de todas las
    edades y procedencias.
  </p>
  <p>
    Con más de siete años de experiencia en la enseñanza del español, tanto en
    academias presenciales como en línea, así como en el sector turístico y de
    exposiciones, estamos seguros de poder ayudarte a alcanzar tus objetivos
    lingüísticos y culturales.
  </p>

  <br />

  <section>
    <h3>Alcanza tus objetivos</h3>

    <ul>
      <li>Superar un examen DELE de cualquier nivel.</li>
      <li>Obtener la nacionalidad española.</li>
      <li>Mejorar tu experiencia Erasmus en España.</li>
      <li>Mejorar tu experiencia como au pair.</li>
      <li>Practicar español regularmente para mantener tu nivel.</li>
      <li>Comunicarte con alguien que te importa.</li>
      <li>Visitar España o pasar tus vacaciones en España.</li>
    </ul>
  </section>
</Layout>

<style lang="scss">
  h1 {
    margin-bottom: 2rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  p {
    max-width: 70rem;
    margin-bottom: 1rem;
  }

  ul {
    padding: 0.5rem;
  }
</style>
