---
import Layout from "../../components/Layout/Layout.astro";
---

<Layout>
  <h1>Nosotros</h1>

  <p>Hola! somos Grama Spanish</p>
  <p>
    En nuestra escuela de español en línea, estamos orgullosos de ofrecer una
    experiencia educativa única y personalizada, diseñada para abrir las puertas
    a la riqueza de la lengua y la cultura hispana. Desde el primer momento,
    nuestros estudiantes son inmersos en un entorno de aprendizaje interactivo y
    estimulante, donde cada lección se convierte en una aventura apasionante
    hacia el dominio del español. Nuestro equipo está compuesto por instructores
    nativos, apasionados por enseñar y con una vasta experiencia en la educación
    en línea. Utilizamos métodos de enseñanza innovadores, que se adaptan a las
    necesidades individuales de cada estudiante, asegurando así un progreso
    constante y significativo. Ya sea que estés comenzando desde cero o busques
    perfeccionar tus habilidades lingüísticas, nuestra escuela es el lugar ideal
    para alcanzar tus objetivos.
  </p>
  <p>
    Entendemos que aprender un nuevo idioma es un viaje emocionante, lleno de
    desafíos y satisfacciones. Por ello, ofrecemos una amplia gama de cursos que
    abarcan desde el español básico hasta niveles avanzados, así como
    especializaciones en áreas como negocios, turismo y preparación para
    exámenes oficiales. Acompañamos a nuestros estudiantes en cada paso del
    camino, brindándoles no solo conocimientos lingüísticos, sino también una
    comprensión profunda de la cultura hispanohablante. Sumérgete en el mundo
    del español con nosotros y transforma tu futuro.
  </p>

  <br />

  <section>
    <h3>Alcanza tus objetivos</h3>

    <ul>
      <li>Superar un examen DELE de cualquier nivel.</li>
      <li>Obtener la nacionalidad española.</li>
      <li>Mejorar tu experiencia Erasmus en España.</li>
      <li>Mejorar tu experiencia como au pair.</li>
      <li>Practicar español regularmente para mantener tu nivel.</li>
      <li>Comunicarte con alguien que te importa.</li>
      <li>Visitar España o pasar tus vacaciones en España.</li>
    </ul>
  </section>
</Layout>

<style lang="scss">
  h1 {
    margin-bottom: 2rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  p {
    max-width: 70rem;
    margin-bottom: 1rem;
  }

  ul {
    padding: 0.5rem;
  }
</style>
