---
import CreateText from "src/components/Admin/CreateText.astro";
import AdminLayout from "src/components/Layout/AdminLayout.astro";
---

<AdminLayout>
  <h1>Create</h1>
  <CreateText />
</AdminLayout>
